{% extends "blog/base.html" %}
{% load mi_markdown %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="entry">
                <h1>{{ entry.titulo }}</h1>
                <p>
                    {{ entry.descripcion | mi_markdown }}
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="links">
                <h2>últimos {{ links.cantidad }} links</h2>
                <ul>
                    {% for link in links.links %}
                        <li><a href="/{{ link.handle }}">{{ link.titulo }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block pie %}
    {% if anterior %}
        <p>anterior: <a href="/{{ anterior.handle }}">{{ anterior.titulo }}</a></p>
    {% endif %}
    {% if siguiente %}
        <p>siguiente: <a href="/{{ siguiente.handle }}">{{ siguiente.titulo }}</a></p>
    {% endif %}
    <div class="fecha">
        <p class="text-muted">
            entrada {{ entry.identry }} - creado {{ entry.creado }} {% if entry.cambiado %}- modificado
            {{ entry.cambiado }} {% endif %}
        </p>
        <p class="text-muted">
            [tiempo]
        </p>
    </div>
{% endblock %}
